@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

a:link,
a:visited {
  color: black;
}

/* -----------------navbar---------------------- */

.nav {
  position: relative;
  margin: 20px 0 0 40px;
}

.logo {
  font-size: 2em;
  float: left;
}

.logo img {
  height: 50px;
}

.nav-list {
  margin-top: 0;
  padding-right: 50px;
  float: right;
  font-weight: bold;
}

li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

/* -----------------reqruitment---------------------- */

.reqruitment img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.reqruitment-text1 {
  position: absolute;
  top: 150px;
  left: 160px;
  color: white;
}

.reqruitment-text2 {
  position: absolute;
  top: 250px;
  left: 160px;
  padding: 0;
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
}

.reqruitment-text2 p {
  margin: 0;
  padding: 0;
}

.reqruitment-text3 {
  position: absolute;
  top: 600px;
  left: 160px;
}

.button a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.button1 {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: #4266d6;
  width: 7em;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
}

.button1 a {
  color: white;
}

/* -----------------over ons---------------------- */

.over_ons {
  position: relative;
}

.over_ons img {
  position: relative;
  top: -90px;
  left: 150px;
  height: 90vh;
}

.overons-text1 {
  position: absolute;
  top: 100px;
  left: 55%;
  color: #4266d6;
  font-weight: bold;
}

.overons-text2 {
  position: absolute;
  top: 190px;
  left: 55%;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.2;
}
.overons-text3 {
  position: absolute;
  top: 470px;
  left: 55%;
  font-weight: bold;
  line-height: 0.7;
  color: #868686;
}

.button2 {
  position: absolute;
  top: 600px;
  left: 55%;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #4266d6;
  background-color: #fff;
  width: 7em;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
}

.button2 a,
.button4 a {
  color: #4266d6;
}

/* -----------------onze diensten---------------------- */

.onze_diensten {
  position: relative;
  height: 100vh;
  margin-top: 0;
}

.onze_diensten img {
  position: relative;
  top: 50px;
  left: 60%;
  height: 90vh;
}

.onzediensten-text1 {
  position: relative;
  top: 110px;
  left: 10%;
  color: #4266d6;
  font-weight: bold;
}

.onzediensten-text2 {
  position: relative;
  top: -500px;
  left: 10%;
  color: #4266d6;
  font-weight: bold;
  font-size: 70px;
}

.onzediensten-text3 {
  position: relative;
  top: -550px;
  left: 10%;
  font-weight: bold;
  line-height: 0.7;
  color: #868686;
}

.onzediensten-text4 {
  position: relative;
  top: -500px;
  left: 10%;
  font-size: 70px;
  font-weight: bold;
  line-height: 0.2;
}

/* -----------------clients---------------------- */

.clients {
  position: relative;
  top: 100px;
}

.clients-text1 {
  position: relative;
  top: 200px;
  left: 10%;
  color: #fff;
  font-weight: bold;
}

.clients-img {
  background-color: rgb(32, 85, 232, 0.9);
}

.clients_img {
  position: relative;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  opacity: 0.2;
}

.clients-text2 {
  position: relative;
  top: -450px;
  left: 10%;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.3;
}

.button3 {
  position: absolute;
  top: 550px;
  left: 10%;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.01);
  width: 7em;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
}

.button3 a {
  color: #fff;
}

.clients_list {
  position: absolute;
  top: 700px;
  left: 10%;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 6px 10px 36px -10px rgba(0, 0, 0, 0.75);
  background: #fff;
  width: 80vw;
  height: 20vh;
}

.clients_list img {
  float: left;
  height: 50px;
  margin: 40px 50px 0 50px;
}

/* -----------------cultuur---------------------- */

.cultuur {
  position: relative;
  height: 100vh;
  margin-top: 0;
  display: block;
}

.cultuur-text1 {
  position: relative;
  top: 200px;
  left: 20%;
  color: #4266d6;
  font-weight: bold;
}

.cultuur-img1 {
  position: relative;
  top: 300px;
  left: 10%;
  height: 50vh;
}
.cultuur-img2 {
  position: absolute;
  top: 220px;
  right: 10%;
  height: 50vh;
}
.cultuur-img3 {
  position: absolute;
  top: 800px;
  left: 30%;
  height: 30vh;
}

.cultuur-text2 {
  position: relative;
  top: 360px;
  left: 60%;
  font-size: 60px;
  font-weight: bold;
  line-height: 0.2;
}

.cultuur-text2 p {
  margin: 50px 0 50px 0;
}

.cultuur-text3 {
  position: relative;
  top: 390px;
  left: 60%;
  font-weight: bold;
  line-height: 0.7;
  color: #868686;
}

.button4 {
  position: relative;
  top: 430px;
  left: 60%;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #4266d6;
  background-color: #fff;
  width: 7em;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 40px;
}

/* -----------------last vacancies---------------------- */

.last_vacancies .title {
  position: relative;
  top: 600px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

.last_vacancies .vacancy_number {
  position: relative;
  width: 40px;
  height: 40px;
  top: 430px;
  left: 950px;
  border: 2px solid #4266d6;
  border-radius: 50%;
  text-align: center;
  background: #4266d6;
  color: #fff;
}

.vacancy_number p {
  margin-top: 10px;
}

.vacancies {
  position: relative;
  top: 600px;
  left: 60px;
  white-space: nowrap;
}

.vacancies div {
  display: inline-block;
  margin-left: 150px;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  height: 70vh;
  width: 25vw;
  white-space: initial;
  padding-left: 30px;
}

.vacancy_seniority {
  float: right;
  margin-right: 15px;
  border: 1px solid orange;
  border-radius: 2px;
  background: orange;
  color: white;
  width: 70px;
  text-align: center;
}

.vacancy_title {
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
  color: #4266d6;
}

.vacancy_details {
  font-weight: bold;
}

.vacancies div a {
  font-size: 20px;
  font-weight: bold;
  color: #4266d6;
}

/* -----------------footer---------------------- */

.footer {
  position: relative;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  background: #4266d6;
}

.footer img {
  position: absolute;
  width: 35%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer_list {
  position: absolute;
  width: 70vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.footer_list li {
  padding-left: 40px;
}

.footer_list li a {
  color: #e7f6ff;
}

.contact {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #e7f6ff;
  font-size: 14px;
}

.contact p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.address {
  margin-bottom: 20px;
}

.copyright {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #e7f6ff;
  font-size: 14px;
}
